
/*------- [ Header ] --------*/

header {
	width:100%;
	background-color: #8d8471;
	position:fixed;
	top: 0;
	z-index: 500;
	}
.container{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow:hidden;
	clear: both;
	}
.branding {
	float: left;
	width: 20%;
	font-family: 'Playfair Display', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	padding-top: 13.5px;
	}
.branding a:link {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	}
.branding a:visited {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	}
.branding a:hover {
	color: #fc5f21;
	}
.branding a:active {
	color: #fc5f21;
	}

/*------- [ Horizontal Navigation ] --------*/

nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 20px 0;
	list-style-type: none;
	text-align: right;
	}
nav li {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: .8em;
	letter-spacing: .1em;
	text-transform: uppercase;
	display: inline;
	padding-left: 20px;
	color: #efefef;
	cursor: pointer;
	}


/*------- [ Hero Video ] --------*/
#hero-slide {
	width: 100%;
	max-height: 580px;
	overflow: hidden;
	float: left;
	background-size: cover;
}

.image-overlay {
	position: absolute;
	top: 165px;
	height: 550px;
	width: 900px;
	z-index:100;
	padding-top: 60px;
	}
	
.image-overlay h2 {
	font-weight: 700;
	line-height: 3.2;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: rgba(0,227,255,0.44);
	}
/*------- [ Introduction ] --------*/

#introduction {
	width: 100%;
	padding: 100px 0 50px 0;
	background: url(../images/texture.jpg);
	float: left;
}
.intro-content h3 {
	margin-top: 10px;
}
	
	/*------ [ About Us ]------*/
	
#about {
		width:100%;
		padding:100px 0;
		background-color:#ffffff;
		float: left;
	}
		
#about .rectangle-btn a:link {
	margin: 0;
}
	/*----- [Places To Go] -----*/
#places {
	width: 100%;
	padding: 100px 0 100px 0;
	float: left;
	background-color: #d47d64;
}

.container-places {
	padding-top: 50px;
	padding-bottom: 50px;
	}

/*----- [Things To Do] -----*/
#things {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #ffffff;
	background: url(../images/texture.jpg);
	float: left;
}


	
	/*----- { Button }-----*/
	
.rectangle-btn a:link {
	outline: 0;
	border-radius: 5px;
	background-color: #c6c360;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #71b083;
}

.rectangle-btn a:hover {
	background: #5c9169;
	color: #ffffff;
}


 /*----- [hotels} -----*/
#hotels {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #71b083;
	float: left;
}
/* ------- [ Membership Subscription } ------- */
#memberships {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #ffffff;
	float: left;
	background: url(../images/texture2.jpg);
	}
	
#memberships h2 {
	font-weight: 100;
	color: #525252;
	text-align: center;
	}
		
#memberships p {
	font-size: 1.5em;
	font-weight: 100;
	color: #888888;
	text-align: center;
	}	
	
.membership-plans {
	margin-top: 40px;
	}
	
.membership-free,
.membership-monthly,
.membership-yearly {
	font-size: 2em;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
	}
	
.membership-free {
	background-color: #D47D64;
	}
	
.membership-monthly {
	background-color: #6079A5;
	}
	
.membership-yearly {
	background-color: #D47D64;
	}
	
.membership-cost {
	font-size: 1.2em;
	color: #000000;
	font-weight: 900;
	text-align: center;
	padding: 10px 0;
	background-color: #DEDEDE;
	}
	
.membership-features {
	font-size: 1.2em;
	color: #888888;
	text-align: center;
	padding: 30px 0 20px 0;
	background-color: #f6f6f6;
	}
	
.membership-features ul {
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1.5;
	}
	
.membership-features li {
	list-style: none outside none;
	padding: 0 20px 10px 20px;
	}
	
.membership-btn {
	margin: 30px auto;
	}
	
.membership-btn a:link {
	outline: 0;
	border-radius: 5px;
	background-color: #c6c360;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
	color: #515255;
	}
	
.membership-btn a:visited {
	color: #ffffff;
	}
	
.membership-btn a:hover {
	background-color: #ada73a;
	color: #dedede;
	}
	
.membership-btn a:active {
	color: #ababab;
	}
	
#contact {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #6079a5;
	float: left;
	}
	
#contact h2 {
	padding-bottom: 20px;
	}
		
#contact p {
	padding-top: 20px;
	}	
	
.contact-form img {
	width: 460px;
	padding: 0;
	font-family: 'Playfair Display', sans-serif;
	font-size: 0.9em;
	font-weight: 100;
	color: #FFFFFF;
	}
	
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea
.contact-form select {
	font-weight: 100;
	color: #888;
	padding: 5px 5px 5px 10px;
	border: 1px solid #6079a5;
	height: 35px;
	margin-bottom: 25px;
	outline: 0 none;
	width: 460px;
	}
	
.contact-form textarea {
	height: 200px;
	}
	
#message {
	height: 200px;
	width: 935px;
	}
	
.contact-form select {
	text-indent: 0.01px;
	text-overflow: '';
	width: 100%;
	height: 35px;
	}
	
.city {
	text-transform: uppercase;
	font-weight: 900;
	}
	
	
.contact-form input.button {
	width: 100px;
	/*same as the height*/
	height: 40px;
	/*same as the width*/
	background-color: #c6c360;
	border: 1px solid #ffffff;
	/*same colour as the background*/
	color: #FFFFFF;
	font-size: 1.1em;
	webkit-appearence: none;
	/*set the border-radius at half the width and height*/
	webkit-border-radius: 35px;
	moz-border-radius: 35px;
	border-radius: 35px;
	}
	
.contact-form input.button {
	color: #000000;
	}

/* -------- [ Footer ] --------*/

footer {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #3c3c3c;
	float: left;
	}
	
.footer a:link {
	color: #6079a5;
	text-decoration: none;
	}
	
.footer a:visited {
	color: #959595;
	}
	
.footer a:hover {
	color: #ffffff;
	}
	
.footer a:active {
	color: #ffffff;
	}
	
.copyright {
	width:100%;
	color: #959595;
	}
	
.copyright p {
	margin: 0;
	}
	
.fa-linkin-sqaure,
.fa-twitter-sqaure,
.fa-facebook-sqaure {
	font-size: 2em;
	margin: 20px 5px 0 5px;
	color: #959595;
}

.fa-linkin-sqaure:hover,
.fa-twitter-sqaure:hover,
.fa-facebook-sqaure:hover {
	color: #959595;
}

.fa-linkin-sqaure:hover,
.fa-twitter-sqaure:hover,
.fa-facebook-sqaure:hover {
	color: #ffffff;
}
	
Dd-nameplate {
	margin: 0 auto;
	width: 100%;
	padding: 100px 0;
	background-color: #282923;
	color: #ffffff;
	font-size: .9em;
	float: left;
}

.Dd-logo {
	width: 90px;
	height: 90px;
	padding: 27px 20px;
	float: left;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.Dd-version {
	width: 90px;
	height: 30px;
	padding: 27px 20px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	float: left;
	text-align: center;
}

.Dd-title {
	width: 820px;
	height: 30px;
	padding-left: 20px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	float: left;
	background: #ffffff;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 900;
	padding-top: 4px;
}

.Dd-title h2 {
	font-size: 1.2em;
	padding-top: 0px;
	color: #282923;
}

#Dd-client {
	width: 410px;
	height: 30px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 20px;
	float: left;
}

#Dd-contact {
	width: 410px;
	height: 30px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 20px;
	float: left;
}

#Dd-designer {
	width: 410px;
	height: 30px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 20px;
	float: left;
}

#Dd-firm {
	width: 410px;
	height: 30px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 20px;
	float: left;
}

#Dd-copyright {
	width: 820px;
	height: 30px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 20px;
	float: left;
}

/*Desktops and Latops----------*/
@media only screen and (min-width : 1224px) {
/* Styles */
	/*Responsive Linebrak set class to display: block;, then swap to display: inline;, for the wider layouts*/
video {width: 100%; }
}
